<h1>
  Input yor X
</h1>

<table style="width: 40%"  title="X" >

  <tr>
    <td><input type="number" placeholder="Input your X" [value]="selectedX0"></td>
    <td><input type="number" placeholder="Input your X" [value]="selectedX1"></td>
    <td><input type="number" placeholder="Input your X" [value]="selectedX2"></td>
  </tr>
  <tr>
    <td><input type="number" placeholder="Input your X" [value]="selectedX3"></td>
    <td><input type="number" placeholder="Input your X" [value]="selectedX4"></td>
    <td><input type="number" placeholder="Input your X" [value]="selectedX5"></td>
  </tr>
  <tr>
    <td><input type="number" placeholder="Input your X" [value]="selectedX6"></td>
    <td><input type="number" placeholder="Input your X" [value]="selectedX7"></td>
    <td><input type="number" placeholder="Input your X" [value]="selectedX8"></td>
  </tr>
</table>
