<h1>
  Input yor y
</h1>

<table style="width: 40%"  title="X" >

  <tr>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY0"></td>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY1"></td>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY2"></td>
  </tr>
  <tr>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY3"></td>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY4"></td>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY5"></td>
  </tr>
  <tr>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY6"></td>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY7"></td>
    <td><input type="number" placeholder="Input your Y" [value]="selectedY8"></td>
  </tr>
</table>
